// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper_movies {
	padding-right: 5%;
	overflow: hidden;
	margin-top: 80px;
	width: 90%;
	display: inline-block;
}

.show-container_body {
  background-color: #ffffff;
	line-height: 0.97;
  margin: 2% 0 2% 10%;
	width: 80%;
	display: block;
  padding: 5% 0;
  font-size: 1.5em;
}

.tile_movie-title {
	border: 5px solid #C0C6C9;
  background-color: #ffffff;
	text-align: left;
	text-transform: uppercase;
	font-size: 1.5em;
	font-family: 'Oswald', sans-serif;
	line-height: 0.97;
  float: right;
  position: relative;
  margin-right: 2%;
  margin-bottom: 2%;
  width: 28%;
  padding-bottom: 8%;
}

.tile_movie-title_inner {
	position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  overflow: hidden;
}

.media_thumbnail {
	display: inline-block;
	float: left;
	margin-right: 3%;
}

.tile_movie-title_score {
	font-size: 0.8em;
	font-family: 'Dosis', sans-serif;
	color: #ABADB3;
}

.tile_movie-flag {
	position: absolute;
	top: 0;
	right: 0;
	border-color: transparent blue transparent transparent;
  border-style: solid;
  border-width: 0 52px 52px 52px;
  height: 0px;
  width: 0px;
}